.content-style {
    display: grid;
    margin: auto;
  }
  .card-container {
    display: grid;
    height:auto;
    width:auto;
    margin-left:1rem;
    margin-top: 5rem;
    background-image: url("/assets/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
.tab-row {
    position: absolute;
    width:1180px;
    background-color:white;
    color:black;
    font-size: 25pt;
    font-weight: bold;
    column-gap: 5px;
}

.home-link {
    margin-left: 36px;
}

.small-logo {
    margin-top:8px;
    text-align: right;
}

.card-header {
    color: black;
    font-size: 45pt;
    font-weight: bold;
    width:auto;
    text-align: center;
    align-content: center;
    margin-bottom: 2rem;
}

.triage-row {
    justify-content: center;
    margin-left: 1 rem;
}
.triage-col {
    line-height: 1;
    text-transform: uppercase;
}

.mayfly-col {
    margin:auto;
    align-content: center;
    margin-top: 4rem;
} 
.welcome-col3 {
    font-size: 22pt;
    text-align: left;
    width:100%;
    font-weight: normal;
    justify-content: left;
    color: black;
}

.welcome-box{
    display: grid;
    height: 350px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    column-gap: 40px;
    margin-bottom: 12rem;
    
}

.card-style{
    margin-top:2rem;
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 1rem;
    opacity: 75%;
    width:1080px;
    height: 750px;
    background-color: white;
}

.card-style-teams{
    margin-top:2rem;
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 1rem;
    opacity: 75%;
    width:1080px;
    height: 750px;
    background-color: white;
}


.mission-content{
    height: fit-content;
    font-size: 30pt;
    color: black;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 29.8rem;
    width: 100%;


}
.teams-content{
    height: fit-content;
    font-size: 30pt;
    color: black;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 29.8rem;
    width: 100%;

}

.projects-content{
    height: fit-content;
    font-size: 30pt;
    color: black;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 29.8rem;
    width: 100%;

}
.publications-content{
    height: fit-content;
    font-size: 30pt;
    color: black;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 29.8rem;
    width: 100%;

}
.events-content{
    height: fit-content;
    font-size: 30pt;
    color: black;
    font-weight: normal;
    text-align: justify;
    margin-bottom: 29.8rem;
    width: 100%;

}
  
  .footer-row {
    align-content: center;
    background-color: white;
    color: black;
    font-size: 18px;
    column-count: 3;
    column-gap: 1pxpx;
  }

  .copyright-col{
    text-align: right;
    margin-top: 2rem;

}
  .social-col{
    text-align: left;
    margin-top: 1rem;
    color:black;
  }

  .follow-us{
      text-align: right;
      color: black;
      margin-top: 2rem;
  }